@import "../../../styles.scss";

.header {
  max-width: 100%;
  box-shadow: 5px 5px 20px gray;
  overflow: hidden;
  position: sticky;
  top: 0;
}

.brand {
  color: white;
  padding: 1.7em;
  width: 65%;

  @include media-breakpoint-down(sm) {
    &__show {
      color: white;
      padding: 1.7em;
      margin-left: 10%;
    }

    &__hide {
      display: none;
    }
  }
}

.logo {
  color: white;
  margin-left: 2%;
  padding: 0.8em;
  width: 3%;

  @include media-breakpoint-down(sm) {
    color: white;
    margin-left: 5%;
    padding: 0.8em;

    &__width {
      width: 65%;
    }
  }
}

.login-container {
  color: white;
  display: inline-block;
  width: 20%;
  text-align: right;
  margin: 1.7em 0.2em 0 0;

  h5 {
    display: inline-block;
    a {
      text-decoration: none;
      color: white;
    }
  }
}
